[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Maven training - time tracker project
[access "refs/*"]
	owner = group user/Ashwath1995
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Ashwath1995
	label-Verified = -1..+1 group user/Ashwath1995
	push = group user/Ashwath1995
	read = group user/Ashwath1995
	rebase = group user/Ashwath1995
	removeReviewer = group user/Ashwath1995
	submit = group user/Ashwath1995
[access "refs/heads/*"]
	create = group user/Ashwath1995
	push = +force group user/Ashwath1995
	pushMerge = group user/Ashwath1995
	read = group user/Ashwath1995
[access "refs/tags/*"]
	push = group user/Ashwath1995
	push = +force group user/Ashwath1995
